body {
  background: #5e5d5c22;
  font-family: 'Source Sans Pro', 'Arial', sans-serif !important;
  font-size: 17px;
}

img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0px;
}

a:hover {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spinner-btn {
  width: 20px !important;
  height: 20px !important;
}

.btn {
  min-height: 40px !important;
}

.max-w1550 {
  max-width: 1550px !important;
}

.navbar {
  background-color: #155fdf6d;
}

.search-bar {
  max-width: 550px;
}

.main-wrapper {
  overflow: auto;
}

:focus {
  box-shadow: 0 0 0 0rem !important;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type='checkbox'] {
  cursor: pointer;
}

input[type='radio'] {
  cursor: pointer;
}

.modal-backdrop {
  z-index: 11 !important;
}

.btn-check:focus + .btn-success,
.btn-success:focus {
  color: #fff;
  background-color: #198754 !important;
  border-color: #198754 !important;
  box-shadow: 0 0 0 0px rgba(49, 131, 253, 0) !important;
}

.btn-update {
  background-color: rgb(228, 123, 11);
  color: #fff !important;
}

.btn-update:hover {
  background-color: rgb(201, 109, 10);
}

.bg-warning {
  background-color: rgb(228, 123, 11) !important;
}

.navbar-light .navbar-toggler {
  border-color: rgb(255 255 255);
}

.bg-private-settings {
  background: linear-gradient(#ffffff33, #bf41454f);
}

.mc-1 {
  margin-left: 10px;
}

.modal {
  z-index: 12 !important;
}

.radio-check-wrapper {
  display: inline-block;
  padding: 5px 10px;
  background: #e5e5e5;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

@media (min-width: 600px) {
  .modal-dialog {
    max-width: 800px;
  }
}

@media (max-width: 650px) {
  .auth-footer-wrapper {
    flex-direction: column !important;
  }

  .search-bar-wrapper {
    width: 100% !important;
  }

  .cp-btn {
    margin-top: 10px;
    margin-left: 0px !important;
  }
}

@media (max-width: 1500px) {
  .top-wrapper {
    flex-wrap: wrap;
  }

  .mc-1 {
    margin-top: 10px !important;
    margin-left: 0px;
  }

  .wmax-1200 {
    width: 100% !important;
  }

  .btn-filter-group {
    justify-content: start !important;
  }
}
